
body {
	line-height: 1;
    margin: 0;
    width: 100vw;
    height: 100vw;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: black;
}

/* <------------AQUI EMPIEZA EL CSS DEL RELOJ---------------------------> */

#watch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid cyan;
    color: cyan;
    border-radius: 50%;
    font-family: Helvetica;
    font-size: 1.7rem;
}

















